/* CSS styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    font-size: 32px;
  }
  
  main {
    margin: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  