/* Reset default styles */
/* Reset default styles */
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-image: url("background-image.jpg");
  background-repeat: repeat;
  color: #08a314;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
}

h1 {
  color: #73e432;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: #73e432;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: #aca90b;
  font-size: 16px;
  margin-bottom: 10px;
}

ul, ol {
  margin-top: 0;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

ol {
  list-style-type: decimal;
}

h3 {
  color: #a3380d;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Animation */
.animated-word span {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
