/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(173, 255, 47); /* Usando o código RGB */
    padding: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

iframe {
    display: block;
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    background-color: #333;
    color: white;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu {
    list-style-type: none;
    display: flex;
}

.footer-menu li {
    margin-right: 10px;
}

.footer-menu li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.footer-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: white;
}

.footer-disclaimer {
    margin-top: 10px;
}

/* Estilos específicos para botões de vídeo */
.button-video {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button-video:hover {
    background-color: #0056b3;
}
